In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json

## Abrindo dados

In [2]:
df = pd.read_parquet(path="./../data/clean_data/df_cluster_kmeans_3.parquet")
df

,comdate_diff,price,freight_value,commercial_dates_day_since_year_start,commercial_dates_year,commercial_dates_month,commercial_dates_day,order_purchase_day_since_year_start,order_purchase_year,order_purchase_month,order_purchase_day,commercial_date_seazonal_weight,sensitivity,mean_price_by_commercial_date,std_price_by_commercial_date,commercial_date_coded,time_window_order_coded,filtered_category_coded,cluster,hue
0,11,289.00,46.48,0,2018,1,1,11,2018,1,12,0.000000,0.000000,92.179011,169.492277,7,1,13,0,cluster_0
1,-28,259.90,22.31,284,2017,10,12,256,2017,9,14,0.000000,0.000000,116.931149,158.173943,7,1,6,1,cluster_1
2,-17,14.99,7.78,66,2018,3,8,49,2018,2,19,14.678600,13.587090,106.874941,134.596300,1,0,8,2,cluster_2
3,17,25.00,14.10,0,2018,1,1,17,2018,1,18,0.000000,0.000000,108.666584,118.364277,7,1,3,0,cluster_0
4,7,99.90,22.57,0,2018,1,1,7,2018,1,8,3.137149,12.276657,82.903521,59.651270,9,1,9,0,cluster_0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87849,-8,55.00,20.88,358,2017,12,25,350,2017,12,17,4.880210,6.335680,100.261696,126.620747,6,0,13,1,cluster_1
87850,3,114.90,14.16,90,2018,4,1,93,2018,4,4,10.360727,10.802792,106.242859,104.834845,8,1,6,2,cluster_2
87851,7,37.00,19.04,90,2018,4,1,97,2018,4,8,10.360727,9.825480,115.585435,176.533677,8,1,2,2,cluster_2
87852,-21,689.00,22.07,327,2017,11,24,306,2017,11,3,12.756532,6.704465,204.739577,287.452591,0,0,11,1,cluster_1
87853,-6,13.99,7.78,358,2017,12,25,352,2017,12,19,4.880210,5.335309,109.808333,89.504752,6,2,10,1,cluster_1

In [3]:
df.columns

Index(['comdate_diff', 'price', 'freight_value',
       'commercial_dates_day_since_year_start', 'commercial_dates_year',
       'commercial_dates_month', 'commercial_dates_day',
       'order_purchase_day_since_year_start', 'order_purchase_year',
       'order_purchase_month', 'order_purchase_day',
       'commercial_date_seazonal_weight', 'sensitivity',
       'mean_price_by_commercial_date', 'std_price_by_commercial_date',
       'commercial_date_coded', 'time_window_order_coded',
       'filtered_category_coded', 'cluster', 'hue'],
      dtype='object')

In [4]:
with open('./../data/clean_data/labels_encoders.json', encoding="utf-8") as json_file:
    labels_encoders = json.load(json_file)
    datas_comerciais = labels_encoders["commercial_date_coded"]
    janela_tempo_pedido = labels_encoders["time_window_order_coded"] 
    categorias = labels_encoders["filtered_category_coded"]

In [5]:
df["filtered_category_coded"] = df["filtered_category_coded"].astype('str')
df["filtered_category"] = df["filtered_category_coded"].map(categorias)
df["filtered_category_coded"] = df["filtered_category_coded"].astype('int')

df["commercial_date_coded"] = df["commercial_date_coded"].astype('str')
df["commercial_date"] = df["commercial_date_coded"].map(datas_comerciais)
df["commercial_date_coded"] = df["commercial_date_coded"].astype('int')

df["time_window_order_coded"] = df["time_window_order_coded"].astype('str')
df["time_window_order"] = df["time_window_order_coded"].map(janela_tempo_pedido)
df["time_window_order_coded"] = df["time_window_order_coded"].astype('int')
df

,comdate_diff,price,freight_value,commercial_dates_day_since_year_start,commercial_dates_year,commercial_dates_month,commercial_dates_day,order_purchase_day_since_year_start,order_purchase_year,order_purchase_month,...,mean_price_by_commercial_date,std_price_by_commercial_date,commercial_date_coded,time_window_order_coded,filtered_category_coded,cluster,hue,filtered_category,commercial_date,time_window_order
0,11,289.00,46.48,0,2018,1,1,11,2018,1,...,92.179011,169.492277,7,1,13,0,cluster_0,utilidades_domesticas,NÃ£o aplica,Mais de duas semanas
1,-28,259.90,22.31,284,2017,10,12,256,2017,9,...,116.931149,158.173943,7,1,6,1,cluster_1,esporte_lazer,NÃ£o aplica,Mais de duas semanas
2,-17,14.99,7.78,66,2018,3,8,49,2018,2,...,106.874941,134.596300,1,0,8,2,cluster_2,informatica_acessorios,Dia da Mulher,Duas semanas
3,17,25.00,14.10,0,2018,1,1,17,2018,1,...,108.666584,118.364277,7,1,3,0,cluster_0,brinquedos,NÃ£o aplica,Mais de duas semanas
4,7,99.90,22.57,0,2018,1,1,7,2018,1,...,82.903521,59.651270,9,1,9,0,cluster_0,moveis_decoracao,Reveillon,Mais de duas semanas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87849,-8,55.00,20.88,358,2017,12,25,350,2017,12,...,100.261696,126.620747,6,0,13,1,cluster_1,utilidades_domesticas,Natal,Duas semanas
87850,3,114.90,14.16,90,2018,4,1,93,2018,4,...,106.242859,104.834845,8,1,6,2,cluster_2,esporte_lazer,Pascoa,Mais de duas semanas
87851,7,37.00,19.04,90,2018,4,1,97,2018,4,...,115.585435,176.533677,8,1,2,2,cluster_2,beleza_saude,Pascoa,Mais de duas semanas
87852,-21,689.00,22.07,327,2017,11,24,306,2017,11,...,204.739577,287.452591,0,0,11,1,cluster_1,relogios_presentes,Black Friday,Duas semanas
87853,-6,13.99,7.78,358,2017,12,25,352,2017,12,...,109.808333,89.504752,6,2,10,1,cluster_1,perfumaria,Natal,Uma semana

In [6]:
for c in list(df['filtered_category'].unique()):
    print(c)

utilidades_domesticas
esporte_lazer
informatica_acessorios
brinquedos
moveis_decoracao
automotivo
telefonia
beleza_saude
ferramentas_jardim
cama_mesa_banho
bebes
relogios_presentes
perfumaria
cool_stuff

In [7]:
df['filtered_category'].replace("utilidades_domesticas", "Utilidades domÃ©sticas", inplace=True)
df['filtered_category'].replace("esporte_lazer", "Esporte e lazer", inplace=True)
df['filtered_category'].replace("informatica_acessorios", "AcessÃ³rios de informÃ¡tica", inplace=True)
df['filtered_category'].replace("brinquedos", "Brinquedos", inplace=True)
df['filtered_category'].replace("moveis_decoracao", "MovÃ©is de decoraÃ§Ã£o", inplace=True)
df['filtered_category'].replace("automotivo", "Automotivo", inplace=True)
df['filtered_category'].replace("telefonia", "Telefonia", inplace=True)
df['filtered_category'].replace("beleza_saude", "Beleza e saÃºde", inplace=True)
df['filtered_category'].replace("ferramentas_jardim", "Ferramentas de jardim", inplace=True)
df['filtered_category'].replace("cama_mesa_banho", "Cama, mesa e banho", inplace=True)
df['filtered_category'].replace("bebes", "BebÃªs", inplace=True)
df['filtered_category'].replace("relogios_presentes", "RelÃ³gios e presentes", inplace=True)
df['filtered_category'].replace("perfumaria", "Perfumaria", inplace=True)
df['filtered_category'].replace("cool_stuff", "Coisas interessantes", inplace=True)

C:\Users\gron7\AppData\Local\Temp\ipykernel_31828\3597227495.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['filtered_category'].replace("utilidades_domesticas", "Utilidades domÃ©sticas", inplace=True)
C:\Users\gron7\AppData\Local\Temp\ipykernel_31828\3597227495.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['filtered_category'].replace("esporte_lazer", "Esporte e lazer", inplace=True)
C:\Users\gron7\AppData\Local\Temp\ipykernel_31828\3597227495.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['filtered_category'].replace("informatica_acessorios", "AcessÃ³rios de informÃ¡tica", inplace=True)
C:\Users\gron7\AppData\Local\Temp\ipykernel_31828\3597227495.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['filtered_category'].replace("brinquedos", "Brinquedos", inplace=True)
C:\Users\gron7\AppData\Local\Temp\ipykernel_31828\3597227495.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['filtered_category'].replace("moveis_decoracao", "MovÃ©is de decoraÃ§Ã£o", inplace=True)
C:\Users\gron7\AppData\Local\Temp\ipykernel_31828\3597227495.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['filtered_category'].replace("automotivo", "Automotivo", inplace=True)
C:\Users\gron7\AppData\Local\Temp\ipykernel_31828\3597227495.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['filtered_category'].replace("telefonia", "Telefonia", inplace=True)
C:\Users\gron7\AppData\Local\Temp\ipykernel_31828\3597227495.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['filtered_category'].replace("beleza_saude", "Beleza e saÃºde", inplace=True)
C:\Users\gron7\AppData\Local\Temp\ipykernel_31828\3597227495.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['filtered_category'].replace("ferramentas_jardim", "Ferramentas de jardim", inplace=True)
C:\Users\gron7\AppData\Local\Temp\ipykernel_31828\3597227495.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['filtered_category'].replace("cama_mesa_banho", "Cama, mesa e banho", inplace=True)
C:\Users\gron7\AppData\Local\Temp\ipykernel_31828\3597227495.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['filtered_category'].replace("bebes", "BebÃªs", inplace=True)
C:\Users\gron7\AppData\Local\Temp\ipykernel_31828\3597227495.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['filtered_category'].replace("relogios_presentes", "RelÃ³gios e presentes", inplace=True)
C:\Users\gron7\AppData\Local\Temp\ipykernel_31828\3597227495.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['filtered_category'].replace("perfumaria", "Perfumaria", inplace=True)
C:\Users\gron7\AppData\Local\Temp\ipykernel_31828\3597227495.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['filtered_category'].replace("cool_stuff", "Coisas interessantes", inplace=True)

In [8]:
for c in list(df['filtered_category'].unique()):
    print(c)

Utilidades domÃ©sticas
Esporte e lazer
AcessÃ³rios de informÃ¡tica
Brinquedos
MovÃ©is de decoraÃ§Ã£o
Automotivo
Telefonia
Beleza e saÃºde
Ferramentas de jardim
Cama, mesa e banho
BebÃªs
RelÃ³gios e presentes
Perfumaria
Coisas interessantes

In [9]:
for c in list(df['commercial_date'].unique()):
    print(c)

NÃ£o aplica
Dia da Mulher
Reveillon
Black Friday
Pascoa
Dia dos Pais
Dia das Maes
Dia das Criancas
Dia dos Namorados
Natal

In [10]:
df['commercial_date'].replace("NÃ£o aplica", "NÃ£o se aplica", inplace=True)
df['commercial_date'].replace("Dia da mulher", "Dia da mulher", inplace=True)
df['commercial_date'].replace("Pascoa", "PÃ¡scoa", inplace=True)
df['commercial_date'].replace("Dia das Maes", "Dia das mÃ¢es", inplace=True)
df['commercial_date'].replace("Dia das Criancas", "Dia das crianÃ§as", inplace=True)
df['commercial_date'].replace("Dia dos Namorados", "Dia dos namorados", inplace=True)

C:\Users\gron7\AppData\Local\Temp\ipykernel_31828\3685571309.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['commercial_date'].replace("NÃ£o aplica", "NÃ£o se aplica", inplace=True)
C:\Users\gron7\AppData\Local\Temp\ipykernel_31828\3685571309.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['commercial_date'].replace("Dia da mulher", "Dia da mulher", inplace=True)
C:\Users\gron7\AppData\Local\Temp\ipykernel_31828\3685571309.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['commercial_date'].replace("Pascoa", "PÃ¡scoa", inplace=True)
C:\Users\gron7\AppData\Local\Temp\ipykernel_31828\3685571309.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['commercial_date'].replace("Dia das Maes", "Dia das mÃ¢es", inplace=True)
C:\Users\gron7\AppData\Local\Temp\ipykernel_31828\3685571309.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['commercial_date'].replace("Dia das Criancas", "Dia das crianÃ§as", inplace=True)
C:\Users\gron7\AppData\Local\Temp\ipykernel_31828\3685571309.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['commercial_date'].replace("Dia dos Namorados", "Dia dos namorados", inplace=True)

In [11]:
for c in list(df['commercial_date'].unique()):
    print(c)

NÃ£o se aplica
Dia da Mulher
Reveillon
Black Friday
PÃ¡scoa
Dia dos Pais
Dia das mÃ¢es
Dia das crianÃ§as
Dia dos namorados
Natal

In [12]:
df.to_parquet("./../data/clean_data/eda_clusters.parquet")